.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  color: white;
  background-color: #16161a;
  color: #fffffe;
  padding-top: 80px;
}
.glassContainer {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 0px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 191, 255, 0.02);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}
.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.titleArea {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
}
.titleArea button {
  margin-top: 120px;
  width: 60%;
  height: 70px;
}
.esports span {
  color: #2cb67d;
}

.animate {
  font-size: 50px;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
  animation-delay: 0.95s;
}

.animate span {
  color: #fffffe;
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  animation: sideSlide 1s forwards;
}

@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #fffffe;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: #fffffe;
  }

  99% {
    transform: translate(0) scale(1.2);
    color: #2cb67d;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}
.contents {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 150px;
  padding-top: 150px;
  text-align: center;
}
.contents span {
  color: #2cb67d;
}
.contentsTitle {
  padding-bottom: 40px;
}
.contentsDescription {
  align-items: center;
  text-align: center;
  border-bottom: 1px solid;
  border-color: #2cb67d;
  padding-top: 10px;
  padding-bottom: 10px;
}
.playerStreamerBG {
  width: 100%;
  background-color: #242629;
}
.playerStreamer {
  width: 70%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}
.recruitFlow {
  width: 70%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}
.recruitFlow span {
  color: #2cb67d;
}
.submit {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.submit button {
  margin-top: 20px;
  width: 60%;
  height: 70px;
  align-items: center;
}
.phaseHeaders {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.qAndA {
  width: 80%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}
.qAndA span {
  color: #2cb67d;
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.container img {
  width: 80%;
  max-width: 80%;
  height: auto;
}
.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  /* margin: 0; */
  line-height: 1.15;
  border-bottom: 1px solid;
  /* animation-name: SlideIn;
  animation-duration: 3s; */
  /* font-size: 4rem; */
}
/* @keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

.description {
  border-top: 1.5px solid;
}

.card {
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 1px;
  transition: all 0.4s cubic-bezier(0.7, 0, 0.03, 1);
}

.card:hover,
.card:focus,
.card:active {
  color: #7f5af0;
  border-color: #2cb67d;
}
